*.tmp
*.asol
*.pyc
*.stats
*.su
*.msh
*.adp
*.sd
*.sdmd
*.sab
*.xml

tests/Example/*
!tests/Example/test_example.py

tests/Grounded/*
!tests/Grounded/test_grounded.py
!tests/Grounded/systemParameters_reference.json
!tests/Grounded/componentParameters_reference.json
!tests/Grounded/componentGeometries_reference.json